// Import Bootstrap functions, vars and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Import our map amends
// Go here to run any Sass map amends on Bootstrap Sass maps

// Import our utility overrides
// Go here to amend or set custom utilities using the Bootstrap API

// Bootstrap main import
@import "~bootstrap/scss/bootstrap";

/* ------- customize primary buttons -------- */   
$basecolor:#03c3ec;
$secondcolor:#696cff;

// .btn-primary {
//     @include button-variant(
//         $background: $basecolor,
//         $border: darken($basecolor, 7.5%),
//         $color: white,
//         $hover-background: darken($basecolor, 10%),
//         $hover-border: lighten($basecolor, 5%),
//         $hover-color: white,
//         $active-background: lighten($basecolor, 10%),
//         $active-border: darken($basecolor, 30%),
//         $active-color: white
//     );
// }   

// .btn-navigation {
//     @include button-variant(
//         $background: $white,
//         $border: $white,
//         $color: $secondcolor,
//         $hover-background: $white,
//         $hover-border: $white,
//         $hover-color: $secondcolor,
//         $active-background: white,
//         $active-border: white,
//         $active-color: $secondcolor
//     );
// }

.btn-navigation {
    @include button-variant(
        $background: $white,
        $border: $secondcolor,
        $color: $secondcolor,
        $hover-background: $secondcolor,
        $hover-border: $secondcolor,
        $hover-color: $white,
        $active-background: $white,
        $active-border: $secondcolor,
        $active-color: $secondcolor
    );
}

.btn-navigation-second {
  @include button-variant(
      $background: $white,
      $border: $secondcolor,
      $color: $secondcolor,
      $hover-background: $secondcolor,
      $hover-border: $secondcolor,
      $hover-color: $white,
      $active-background: $secondcolor,
      $active-border: $secondcolor,
      $active-color: $white
  );
}

.btn-second {
  @include button-variant(
      $background: $secondcolor,
      $border: $secondcolor,
      $color: $white,
      $hover-background: #{shade-color($secondcolor, 15%)},
      $hover-border: #{shade-color($secondcolor, 15%)},
      $hover-color: $white,
      $active-background: $basecolor,
      $active-border: $basecolor,
      $active-color: $white
  );
}

.form-floating .form-control:focus {
  border-color: $secondcolor;
}

li.page-item span {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

li.page-item a {
  cursor: pointer;
  color: $secondcolor;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
  
li.page-item a.active {
  background-color: $secondcolor;
  color: #fff;
  border-color: $secondcolor;
}
  
li.page-item a:hover {
  background-color: $secondcolor;
  color: #fff;
  border-color: $secondcolor;
}

div.form-check input.form-check-input:checked {
  background-color: $secondcolor;
  border-color: $secondcolor;
}

//
.card {
  .elementList {
    text-decoration: none; // Убираем подчеркивание
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

  }
  .elementList:hover {
    background-color: rgba(238, 238, 238, 0.637);
    border-radius: 1.5rem;
  }

  .elementSecondList {
    text-decoration: none; // Убираем подчеркивание
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

  }
  .elementSecondList:hover {
    background-color: rgba(238, 238, 238, 0.637);
    border-radius: 1.25rem;
  }

}
// .card .card-body {
//   text-decoration: none; // Убираем подчеркивание
//   cursor: pointer;
// }

// .card .card-body:hover {
//   background-color: rgba(238, 238, 238, 0.637);
//   border-radius: 1.5rem;
// }


//

//
.separator-card {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator-card::before,
.separator-card::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dee2e6;
}

.separator-card:not(:empty)::before {
  margin-right: 2em;
}

.separator-card:not(:empty)::after {
  margin-left: 2em;
}
//

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #b4b4b4;
}

.separator:not(:empty)::before {
  margin-right: 1rem;
}

.separator:not(:empty)::after {
  margin-left: 1rem;
}



i {
  font-size: 18px;
}

.page-item-pointer{ 
  cursor: pointer;
}

input:focus,
input:active {
    box-shadow: none !important;
}

input.form-control:focus,
input.form-control:active {
    border-color: #696cff;
}

input.form-control:focus + .input-group-text,
input.form-control:active + .input-group-text {
    border-color: #696cff;
}


